{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Users List</h1>

    <br>
    <div class="row">
        {% for user in users %}
            <div class="col-md-4">
                <div class="card bg-light text-dark" style="padding:15px;height:100%;margin: 10px 10px 15px 10px">
                    <ul>
                        Username : {{ user.email }} <br>
                        Utilisateur : {{ user.firstname }} {{  user.lastname }} <br />
                        Date de Naissance : {{ user.birthday|date('d/m/y') }} <br>
                        {% if user.roles|length >0 %}
                            {% dump user.roles|length %}
                            Rôle :
                            {% for role in user.roles %}
                                {% if role %}
                                    <ul><li>{{ role }}</li></ul>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <a href="{{ path('user_id', {'id':user.id}) }}">
                            <button type="button" class="btn btn-success">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Voir le profil
                            </button>
                        </a>
                        <a href="{{ path('listVideoByUser', {'id':user.id}) }}">
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-film" aria-hidden="true"></i>
                                Voir les vidéos
                            </button>
                        </a>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
