{% extends 'base.html.twig' %}

{% block body %}


    <div class="example-wrapper">
        <h1>{{ app.user.firstname }}Profile</h1>
        {{ form_start(form) }}
        Firstname : {{ form_widget(form.firstname) }} <br>
        Lastname : {{ form_widget(form.lastname) }} <br />
        <div class="row col-md-12">
            Birthday :
            <span class="col-md-2">
                {{  form_widget(form.birthday.day) }}
            </span>
            <span class="col-md-2">
                {{  form_widget(form.birthday.month) }}
            </span>
            <span class="col-md-2">
                {{  form_widget(form.birthday.year) }}
            </span>
        </div>
        <br>
        {{ form_end(form) }}
    </div>
{% endblock %}
