{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{ app.user.firstname }}Profile</h1>
        {{ form_start(form) }}
        Firstname : {{ form_widget(form.firstname) }} <br>
        Lastname : {{ form_widget(form.lastname) }} <br />
        <div class="row col-md-12">
            Birthday :
            <span class="col-md-2">
                {{  form_widget(form.birthday.day) }}
            </span>
            <span class="col-md-2">
                {{  form_widget(form.birthday.month) }}
            </span>
            <span class="col-md-2">
                {{  form_widget(form.birthday.year) }}
            </span>
        </div>
        <br>
        {{ form_end(form) }}
    </div>
{% endblock %}
